.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.nodes circle.byzantine {
    stroke: red;
    stroke-width: 1.5px;
    fill: black;
}