
<div class="snowball-graph">
<svg width="960" height="600">
  <pattern id="undefined" x="0%" y="0%" height="100%" width="100%"
           viewBox="0 0 512 512">
    <image x="0%" y="0%" width="512" height="512" xlink:href="assets/simulation/warning.svg"></image>
  </pattern>
  <pattern id="byzantine" x="0%" y="0%" height="100%" width="100%"
           viewBox="0 0 512 512">
    <image x="0%" y="0%" width="512" height="512" xlink:href="assets/simulation/skull.svg"></image>
  </pattern>
</svg>
</div>