<h2>
  This is the simulator
</h2>

<h4>Set simulator parameters</h4>
<mat-form-field>
  <input matInput placeholder="Node count" (change)="updateModel()" [(ngModel)]="nodeCount">
</mat-form-field>

Button:
<div class="progress-bar">
  <button mat-icon-button>
    <mat-icon *ngIf="false" svgIcon="pause-button"></mat-icon>
  </button>
  <button mat-icon-button (click)="updateModel()">
    <mat-icon svgIcon="reset-button"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="play-button"></mat-icon>
  </button>
  <button mat-icon-button (click)="simulationStepForward()">
    <mat-icon svgIcon="step-forward-button"></mat-icon>
  </button>
</div>


<div class="renderer">
<ng-template appRender></ng-template>
</div>
