

<div class="snowball-specific-parameter">
  <h4>Set snowball specific parameter</h4>

  <mat-form-field>
    <input matInput placeholder="Maximum confidence counter" (change)="updateModel()"
           [(ngModel)]="maxConfidenceCounter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Sampling size" (change)="updateModel()" [(ngModel)]="sampleSize">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Change threshold" (change)="updateModel()" [(ngModel)]="alpha">
  </mat-form-field>
</div>