<div>
  <div *ngIf="simulation == null;" class="text-renderer">
    -no simulation is set-
  </div>

  <div *ngIf="simulation != null;" class="text-renderer">
    <p>-{{simulation}}</p>
    <p>-{{simulation.simulation$.getValue()}}</p>
    <p>-{{simulation.simulation$.getValue().network}}</p>
    <p>-{{simulation.simulation$.getValue().network.nodes}}</p>
    <p>Count of nodes: {{simulation.simulation$.getValue().network.nodes.length}}</p>
    <div>Nodes with protocol:
      <ul>
        <li *ngFor="let node of simulation.simulation$.getValue().network.nodes">
          Node {{node.nodeID}} with protocols:
          <ul>
            <li>
              Protocol {{node.protocol.name}}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <ul>Links:
      <li *ngFor="let link of simulation.simulation$.getValue().network.links">{{link.node1}} --> {{link.node2}}</li>
    </ul>
    <p></p>
  </div>
</div>